whatsapp-waha-hold-chat.json
{
    "name": "WA Chatbot Labels Hold",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
          "options": {
            "systemMessage": "=Kamu adalah seorang tukang kopi handal!"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          1420,
          -20
        ],
        "id": "45034d46-5aae-46ab-a6fb-5c21db7c05da",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1420,
          260
        ],
        "id": "b4993cae-cb3d-40d1-9673-2783ea31d230",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "y8sLJ2LzZL2c7SGi",
            "name": "OpenAI Webinar"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('WAHA Trigger').item.json.payload.from }}C"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1580,
          260
        ],
        "id": "94088ee8-2ad2-4c7b-ba4e-66db2af375c9",
        "name": "Simple Memory"
      },
      {
        "parameters": {},
        "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
        "typeVersion": 202502,
        "position": [
          -300,
          -280
        ],
        "id": "13cf824f-50c8-4510-8cf3-b38b00b87d46",
        "name": "WAHA Trigger",
        "webhookId": "19ac894d-2054-40f7-bce1-848cbc80adfe"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b3602e7c-a540-47f9-ba41-cef2b5b9fd29",
                "leftValue": "={{ $json.payload.fromMe }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          80,
          -180
        ],
        "id": "59eb4652-3726-4ed2-a442-e3e2241e4c76",
        "name": "If From Me"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ac89cc91-c202-498c-a7f0-acdffccf8821",
                "leftValue": "={{ $json.payload.from.split('@')[1] }}",
                "rightValue": "c.us",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          400,
          -20
        ],
        "id": "ae664438-73c9-4e43-a632-4d2018c8a6ae",
        "name": "Make Sure Personal Chat"
      },
      {
        "parameters": {
          "content": "## Check if Message isFromMe",
          "height": 260,
          "width": 380,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -60,
          -260
        ],
        "typeVersion": 1,
        "id": "b8e52cb1-50e0-417c-8235-4ba72575e18a",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## If isFromMe is true and source is app\nhold user chat. So next conversation will be handled by real agent",
          "height": 260,
          "width": 960,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          340,
          -400
        ],
        "typeVersion": 1,
        "id": "b6b994c2-5f18-4d1a-a3c3-23bd45a26a12",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## If isFromMe False\nCheck if user is on hold list or not, if on list, ignore message",
          "height": 260,
          "width": 960,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          340,
          -120
        ],
        "typeVersion": 1,
        "id": "34892985-eeaa-4cc9-8588-e1df53086f76",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## The Brain 🧠 ",
          "height": 560,
          "width": 440
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1320,
          -120
        ],
        "typeVersion": 1,
        "id": "a9892fdb-c109-41e2-b66e-a6d4af7591f2",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Stop Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          2420,
          -20
        ],
        "id": "c94b7899-4705-4034-b438-23947b6018b0",
        "name": "Stop Typing",
        "credentials": {
          "wahaApi": {
            "id": "k7O781BLydKgHzVo",
            "name": "WAHA Account Sumopod"
          }
        }
      },
      {
        "parameters": {
          "content": "## Typing Effect",
          "height": 260,
          "width": 860,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1780,
          -120
        ],
        "typeVersion": 1,
        "id": "caeea791-c757-4b00-9984-c071fbc35b38",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Send Reply",
          "height": 280,
          "width": 860,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1780,
          160
        ],
        "typeVersion": 1,
        "id": "4ec9bdf2-6334-44d0-b1a5-447c452ebef4",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Send Text",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('If From Me').item.json.payload.from }}",
          "text": "={{ $('AI Agent').item.json.output }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          2160,
          260
        ],
        "id": "c550f0db-759d-4c29-96fa-7f7a6b149bcc",
        "name": "Send Reply",
        "credentials": {
          "wahaApi": {
            "id": "k7O781BLydKgHzVo",
            "name": "WAHA Account Sumopod"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "68697ad3-d3dc-4a26-81cd-077c551572b1",
                "leftValue": "={{ $json.payload.source }}",
                "rightValue": "app",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          580,
          -300
        ],
        "id": "a80e7040-924c-4f19-9002-fc123ca31a7f",
        "name": "If Source is app"
      },
      {
        "parameters": {
          "resource": "Chatting",
          "operation": "Start Typing",
          "session": "={{ $('WAHA Trigger').item.json.session }}",
          "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          1880,
          -20
        ],
        "id": "a5512b9b-7e8f-4945-ace3-0ba159a0f1b3",
        "name": "Start Typing",
        "credentials": {
          "wahaApi": {
            "id": "k7O781BLydKgHzVo",
            "name": "WAHA Account Sumopod"
          }
        }
      },
      {
        "parameters": {
          "amount": "={{ Math.floor(Math.random() * 7) + 1; }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2160,
          -20
        ],
        "id": "80bbd697-dfb7-40a3-9259-1b8677a03eca",
        "name": "Wait for Random Seconds",
        "webhookId": "eba829bd-e335-4656-a307-7315dd29c05f"
      },
      {
        "parameters": {
          "resource": "Labels",
          "operation": "Get Chat Labels",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          640,
          -20
        ],
        "id": "8c84fee7-c978-47d9-ae50-d7e40b7073a7",
        "name": "GetLabels",
        "alwaysOutputData": true,
        "executeOnce": false,
        "credentials": {
          "wahaApi": {
            "id": "k7O781BLydKgHzVo",
            "name": "WAHA Account Sumopod"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          860,
          -20
        ],
        "id": "2c2355d5-b080-4069-9521-1601a731e50c",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "868c6a77-c8be-44e2-85d1-a8ac579f2548",
                "leftValue": "={{ $json.data.some(item => item.name === \"HOLD\") }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1080,
          -20
        ],
        "id": "67571cc1-2238-4dd8-9d84-c3e6e1aeab02",
        "name": "If On Hold"
      },
      {
        "parameters": {
          "resource": "Labels",
          "operation": "Put Chat Labels",
          "labels": "[\n  {\n    \"id\": \"9\"\n  }\n]",
          "requestOptions": {}
        },
        "type": "@devlikeapro/n8n-nodes-waha.WAHA",
        "typeVersion": 202502,
        "position": [
          900,
          -300
        ],
        "id": "3d4cacf8-e903-42a2-8a90-5a7e74901e59",
        "name": "Set Hold Label",
        "credentials": {
          "wahaApi": {
            "id": "k7O781BLydKgHzVo",
            "name": "WAHA Account Sumopod"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "WAHA Trigger": {
        "main": [
          [],
          [],
          [],
          [
            {
              "node": "If From Me",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If From Me": {
        "main": [
          [
            {
              "node": "If Source is app",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Make Sure Personal Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make Sure Personal Chat": {
        "main": [
          [
            {
              "node": "GetLabels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Start Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stop Typing": {
        "main": [
          [
            {
              "node": "Send Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Source is app": {
        "main": [
          [
            {
              "node": "Set Hold Label",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Random Seconds": {
        "main": [
          [
            {
              "node": "Stop Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Typing": {
        "main": [
          [
            {
              "node": "Wait for Random Seconds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetLabels": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "If On Hold",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If On Hold": {
        "main": [
          [],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "9e8dd3b7-c4fe-4ac2-96cc-8b0f3f43333a",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "fa52a98dd39f67760c7540fff8a0dd5306d89f766551eb7a7c84b5f43eb33d4c"
    },
    "id": "RpwPfssbP3lnAE1T",
    "tags": []
  }